html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  margin: 0;
  height: 100vh;
}
.grid_container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 7, 44);
  padding: 0.5rem;
}
.brand a{
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}
.header_links a{
  color: white;
  text-decoration: none;
}
.header_links a:hover{
  color: orangered;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: rgb(26, 7, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#root{
  height: 100%;
}

/* Home Screen */
a{
  text-decoration: none;
}
a:hover{
  color: orangered;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li{
  list-style-type: none;
  padding: 0;
  margin: 10px;
  height: 50rem;
  flex: 0 1 34rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;

}
.product-brand{
  font-size: 1.2rem;
  color: gray;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 10px;
}
.product-rating{
  margin-bottom: 1rem;
}
/* Side bar */
.brand button{
  background: none;
  font-size: 3rem;
  padding: .5rem;
  border: none;
  color: white;
}
.sidebar{
  position: fixed;
  transform: translate(-30rem); 
  transition: all 0.5sec;  
  width: 30rem;
  background-color: rgb(255, 247, 247);
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}
.sidebar-close-button{
  border-radius: 50%;
  border: 0.1rem black solid;
  position: absolute;
  right: 0.5rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
}
.sidebar-h3{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.sidebar-list {
  display: flex;
}

/* product details */
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details_image{
  flex: 2 1 60rem;
}
.details_image img{
  max-width: 60rem;
  widows: 100%;
}
.details_info{
  flex: 1 1 30rem;
}
.details_action{
  flex: 1 1 30rem;
}
.details_info ul,.details_action ul
  {
  list-style-type: none;
  /* padding: 1rem; */
}
.details_info li,.details_action li
  {
  margin:1rem;
}
.back-to-result{
  padding: 1rem;
}
.details_action{
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(248, 244, 244);
  margin-right: 2rem;
  padding: 1rem;
}
.details_action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button{
  padding: 1rem;
  border:.1rem #808080 solid;
  cursor: pointer;
  border-radius: 0.5rem;
}
.button:hover{
border: 2px #404040 solid;

}
.button{
  background-color: #e7bb28;
}
